// * {
//     margin: 0;
//     padding: 0;
//     font-family: "montserrat", sans-serif;
// }

// .contact-section {
//     // background: url(bg.png) no-repeat center;
//     background-size: cover;
//     padding: 40px 0;
// }

.contact-section h1 {
    text-align: center;
    color: #ddd;
}

.border {
    width: 100px;
    height: 10px;
    background: #eece1a;
    margin: 40px auto;
}

.contact-form {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.alert-danger {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border-radius: 3px 3px 3px 3px;
    background: #FFBABA;
    padding: 10px;
    outline: none;
    color: #D8000C;
    transition: 0.5s;
    text-align: center
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 3px #fff solid;
    background: #444;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: all 0.5s ease-out;
    font-size: 1rem;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #eece1a;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #eece1a;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #88750a;
}